@import "style/headContainer.css";
@import "style/form.css";
@import "style/changeStyle.css";

/*Default*/
html {
	font-size: 14px;
	background-color: #F4F5FC;
}

*, input {
	margin: 0;
	padding: 0;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active  {
	box-shadow: 0 0 0 30px transparent inset !important;
}