/*error red line*/
.redLine {
	border-bottom: 0.7px solid #f20000;
}

/*error password*/
.passError {
	position: absolute;
	bottom: -25px;
	color: red;
	font-size: 10px;
}

/*error config password*/
.conPassError {
	position: absolute;
	bottom: -15px;
	color: red;
	font-size: 10px;
}

/*error config email*/
.emailError{
	position: absolute;
	bottom: -15px;
	color: red;
	font-size: 10px;
}