@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400&display=swap');
@import "animation.css";

#formSignUp {
	margin-top: 20px;
}

#formSignUp > * {
	display: flex;
	gap: 1rem;
	margin-bottom: 16px;
}

/*paired block alignment*/
.formSection > * {
	position: relative;
	width: 100%;
	height: 42px;
	border-bottom: .7px solid #F2F2F2;
}

/*alignment for block elements*/
#formSignUp input,
#formSignUp select {
	position: absolute;
	width: 234.5px;
	left: 50%;
	padding-left: .4px;
	top: calc(100% - 6.3px);
	transform: translate(-50%, -100%);
	border: none;
	outline: none;
	background: transparent;
	font-size: 1rem;
	line-height: 16px;
	color: #111;
}

#formSignUp label {
	line-height: 14px;
	position: absolute;
	pointer-events: none;
	top: 0;
	left: 0;
	transform: translate(0, 0);
	font-size: 12px;
	color: #7C7C7C;
	transition: all 0.5s ease 0s;
}

/*label action*/
#formSignUp input[type="radio"] ~ label {
	left: 50%;
	top: calc(100% - 6.3px);
	transform: translate(-50%, -100%);
	font-size: 12px;
	color: #111;
}

#formSignUp select {
	appearance: none;
	background: url('../img/select_arrow.svg') no-repeat right;
	cursor: pointer;
}

/*style for data of birth*/
.formSection_birthDay {
	position: relative;
}

.other > * {
	border-bottom: none;
}

.other #day, .other #month, .other #year {
	position: absolute;
	border-bottom: .7px solid #F2F2F2;
	margin-top: 5.3px;
	padding-bottom: 5.6px;
	box-sizing: border-box;
	line-height: 16.41px;
}

.other #day {
	left: 0;
	width: 56px;
	transform: translate(0%, -100%);
}

.other #month {
	left: calc(56px + 9.8px);
	width: 91px;
	transform: translate(0, -100%);
}

.other #year {
	left: 100%;
	width: 68px;
	transform: translate(-100%, -100%);
}

/*style for gender*/
.formSection_gender > p {
	top: 0;
	left: 0;
	transform: translate(0, 0);
	font-size: 12px;
	color: #7C7C7C;
}

/*style for radiobutton in gender block*/
#formSignUp input[type="radio"] {
	display: grid;
	place-content: center;
	left: auto;
	transform: translate(0, -100%);
	appearance: none;
	background-color: transparent;
	width: 12px;
	height: 12px;
	border: 0.7px solid #5A61ED;
	border-radius: 50%;
	cursor: pointer;
}

#formSignUp input[type="radio"]::before {
	content: "";
	width: 6px;
	height: 6px;
	border-radius: 50%;
	transform: scale(0);
	transition: 120ms transform ease-in-out;
	background-color: #5A61ED;
}

#formSignUp input[type="radio"]:checked::before {
	transform: scale(1);
}

#formSignUp input[type="radio"] ~ label {
	width: 33px;
	font-size: 1rem;
	line-height: 16px;
	transform: translate(0, -100%);
}

#formSignUp #male ~ label {
	left: calc(12px + 6px);
}

#formSignUp #female {
	left: calc(12px + 33px + 19px);
}

#formSignUp #female ~ label {
	left: calc(12px + 6px + 33px + 19px + 12px);
}

/*footer*/
.haveAcc {
	position: absolute;
	top: calc(100% - 11px - 32.48px);
	height: 15px;
	color: #000;
	font-size: 13px;
	font-weight: 200;
	transform: translate(0, -100%);
}

.haveAcc a {
	color: #5A61ED;
	font-weight: 600;
}

#submit {
	position: absolute;
	cursor: pointer;
	width: 154px;
	height: 32px;
	white-space: nowrap;
	color: #FFF;
	font-style: normal;
	font: 400 1rem/18px 'Manrope', sans-serif;
	background-color: #5A61ED;
	border: none;
	transform: translate(-100%, -100%);
	left: calc(100% - 22px);
	top: calc(100% - 32.48px)
}

/*error password*/
.passError {
	position: absolute;
	bottom: -25px;
	color: red;
	font-size: 10px;
}

/*error config password*/
.conPassError {
	position: absolute;
	bottom: -15px;
	color: red;
	font-size: 10px;
}

/*error config email*/
.emailError{
	position: absolute;
	bottom: -15px;
	color: red;
	font-size: 10px;
}
